SERVICE_NAME={{PKG_NAME}}
APP_TIMEZONE=Asia/Jakarta

LOG_TYPE=console
LOG_FILE=logs/app.log
LOG_BUFFER_SIZE=1000

SCHEDULER_ENABLED=true
SCHEDULE_EXPRESSION=00-00-0000 00-05-00
SCHEDULE_TZ=Asia/Jakarta
